{% extends 'base.html' %}

{% block content %}
<div class="middle-box text-center loginscreen animated fadeInDown">
  <h3>Forgot password</h3>
  <form class="m-t" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}