<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Primegivers | Welcome</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body id="page-top" class="landing-page">
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/58b1e69478d62074c0940ef6/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">Dashboard</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                        <li><a class="page-scroll" href="#pricing">Packages</a></li>
                        <li><a class="page-scroll" href="#flow">Workflow</a></li>
                        <li><a class="page-scroll" href="/login">Login</a></li>
                        <li><a class="page-scroll" href="/register">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>We provide<br/>
                        a seemless platform,<br/>
                        where people can donate<br/>
                        and recieve donations <br>in return</h1>
                    <p>A whooping 100% returns</p>
                </div>
                <div class="carousel-image wow zoomIn">
                    {% comment %}<img src="/static/img/landing/laptop.png" alt="laptop"/>{% endcomment %}
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>We provide <br/> the platform you need,</h1>
                    <p>Fully automated, No manual inputs.</p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>5mins Payback </h2>
            <p>We are designed in such a way that you are designed to recieve payments within 5mins of confirmation</p>
        </div>
        <div class="col-sm-3">
            <h2>No guilders</h2>
            <p>Unlike other schemes, no guilders, no refferals, they eat up money, and we must sustain the platform</p>
        </div>
        <div class="col-sm-3">
            <h2>16 HOUR Support</h2>
            <p>Our support is designed to be online for a minimum of 16 hours a day.</p>
        </div>
        <div class="col-sm-3">
            <h2>Automatic remerging</h2>
            <p>A downliner refuses to pay? Never mind, our system would automatically flush them out within one hour of them being merged</p>
        </div>
    </div>
</section>


<section id="flow" class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our workflow</h1>
                <p>Here is a quick view of how our system works </p>
            </div>
        </div>
        <div class="row features-block">

            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Registration</h2>
                            <p>You register with us, provide us account details and other relevant information, as well as select a bundle
                            </p>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-file-text"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Merging</h2>
                            <p>You are merged to pay an upliner immediately or withon the next 2 hours.</p>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-cogs"></i>
                        </div>

                        <div class="vertical-timeline-content">
                            <h2>Confirmation and Payment</h2>
                            <p>Your payment is confirmed by your upliner, then two downliners are merged to you for payment.
                                Active them, and you are exited from the package.
                                You may join another package to recycle
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    What our users say
                </h1>
                <div class="testimonials-text">
                    <i>"I have tried many schemes, and i must confess, this has a difference, i can purge unresponsive downliners, i can report non reachable upliners, and im always assured of my current status (92% vote for them, The remaining 8% belongs to me lol)."</i>
                </div>
                <small>
                    <strong> - Ademola Akingbade</strong>
                </small>
            </div>
        </div>
    </div>

</section>

{% comment %}<section class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>What our partners say</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="/static/" class="pull-left">
                        <img alt="image" src="/static/img/landing/avatar3.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="/static/" class="pull-left">
                        <img alt="image" src="/static/img/landing/avatar1.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
                </div>
                <div class="comments-avatar">
                    <a href="/static/" class="pull-left">
                        <img alt="image" src="/static/img/landing/avatar2.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Andrew Williams
                        </div>
                        <small class="text-muted">Company X from California</small>
                    </div>
                </div>
            </div>



        </div>
    </div>

</section>{% endcomment %}

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>More and more extra great feautres</h1>
                <p>Feautures you cant beat anywhere </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>PURGE USER</small>
                <h2>Perfectly designed </h2>
             
                <p>A user has refused to pay? YOu can purge the user after 30 minuites, the button would show up</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>SPONSOR UNREACHABLE</small>
                <h2>Perfectly designed </h2>
             
                <p>Cannot get your sponsor on phone, and time is running out? Click the button and get remerged instantly</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 features-text">
                <small>COUNTDOWN TIMER</small>
                <h2>Perfectly designed </h2>
                
                <p>Timer shows you how much more time you have for payment. So you dont pay once your time is expired</p>
            </div>
            <div class="col-lg-5 features-text">
                <small>ACTIVITY LOG</small>
                <h2>Perfectly designed </h2>
                
                <p>We provide you with a log of all activities happening on your account, so you can see how transparent we are</p>
            </div>
        </div>
    </div>

</section>
<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>App Packages</h1>
                <p>View our wide range of packages</p>
            </div>
        </div>
        <div class="table-layout">
                      <div class="col-md-3 panel valign-top">
                        <!-- panel heading -->
                        <div class="panel-heading text-center pa15">
                            <h4 class="semibold mt0">
                                STARTER<br>
                            </h4>
                        </div>
                        <!-- panel heading -->
                        <!-- panel body -->
                        <div class="panel-body text-center">
                            <h2 class="bold text-muted nm">N5,000</h2>
                        </div>
                        <table class="table">
                            <tbody>
                                 <tr>
                                    <td class="text-center"><i class="ico-alarm2 mr5"></i> 24 Hour support</td>
                                </tr>

                                <tr>
                                    <td class="text-center"><i class="ico-user mr5"></i> 2:1 Matrix
                                    Auto Assign</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-money mr5"></i> Pay Out/In Option</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-database mr5"></i> <strong>N10,000 Return Investment</strong></td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                        <!--/ table -->
                    </div>
                    
                    <!-- START Panel pricing -->
                    <div class="col-md-3 panel valign-top">
                        <!-- panel heading -->
                        <div class="panel-heading text-center pa15">
                            <h4 class="semibold mt0">
                                INTERMEDIATE<br>
                            </h4>
                        </div>
                        <!-- panel heading -->
                        <!-- panel body -->
                        <div class="panel-body text-center">
                            <h2 class="bold text-muted nm">N10,000</h2>
                        </div>
                        <table class="table">
                            <tbody>
                                 <tr>
                                    <td class="text-center"><i class="ico-alarm2 mr5"></i> 24 Hour support</td>
                                </tr>

                                <tr>
                                    <td class="text-center"><i class="ico-user mr5"></i> 2:1 Matrix
                                    Auto Assign</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-money mr5"></i> Pay Out/In Option</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-database mr5"></i> <strong>N20,000 Return Investment</strong></td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                        <!--/ table -->
                    </div>
                    <!--/ END Panel pricing -->
                    <!-- START Panel pricing -->
                    <div class="col-md-3 panel valign-top">
                        <!-- panel heading -->
                        <div class="panel-heading text-center pa15">
                            <h4 class="semibold mt0">
                                ADVANCED<br>
                            </h4>
                        </div>
                        <!-- panel heading -->
                        <!-- panel body -->
                        <div class="panel-body text-center">
                            <h2 class="bold text-muted nm">N20,000</h2>
                        </div>
                        <!--/ panel body -->
                        <!-- table -->
                        <table class="table">
                            <tbody>
                                 <tr>
                                    <td class="text-center"><i class="ico-alarm2 mr5"></i> 24 Hour support</td>
                                </tr>

                                <tr>
                                    <td class="text-center"><i class="ico-user mr5"></i> 2:1 Matrix
                                    Auto Assign</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-money mr5"></i> Pay Out/In Option</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-database mr5"></i> <strong>N40,000 Return Investment</strong></td>
                                </tr>
                                
                               
                            </tbody>
                        </table>
                        <!--/ table -->
                    </div>
                    <!--/ END Panel pricing -->
                    <!-- START Panel pricing -->
                    <div class="col-md-3 panel valign-top">
                        <!-- panel heading -->
                        <div class="panel-heading text-center pa15">
                            <h4 class="semibold mt0">
                                    PROFFESIONAL<br>
                            </h4>
                        </div>
                        <!-- panel heading -->
                        <!-- panel body -->
                        <div class="panel-body text-center">
                            <h2 class="bold text-danger nm">N50,000</h2>
                        </div>
                        <!--/ panel body -->
                        <!-- table -->
                        <table class="table">
                            <tbody>

                                <tr>
                                    <td class="text-center"><i class="ico-alarm2 mr5"></i> 24 Hour support</td>
                                </tr>

                                <tr>
                                    <td class="text-center"><i class="ico-user mr5"></i> 2:1 Matrix
                                    Auto Assign</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-money mr5"></i> Pay Out/In Option</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-database mr5"></i> <strong>N100,000 Return Investment</strong></td>
                                </tr>
                                
                              
                            </tbody>
                        </table>
                        <!--/ table -->
                    </div>
                    <!--/ END Panel pricing -->
                    <!-- START Panel pricing -->
                    <div class="col-md-3 panel valign-top">
                        <!-- panel heading -->
                        <div class="panel-heading  panel-success text-center pa15">
                            <h4 class="semibold mt0">
                                GENIUS<br>
                            </h4>
                        </div>
                        <!-- panel heading -->
                        <!-- panel body -->
                        <div class="panel-body text-center">
                            <h2 class="bold text-muted nm">N100,000</h2>
                        </div>
                        <!--/ panel body -->
                        <!-- table -->
                        <table class="table">
                            <tr>
                                    <td class="text-center"><i class="ico-alarm2 mr5"></i> 24 Hour support</td>
                                </tr>

                                <tr>
                                    <td class="text-center"><i class="ico-user mr5"></i> 2:1 Matrix
                                    Auto Assign</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-money mr5"></i> Pay Out/In Option</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-database mr5"></i> <strong>N200,000 Return Investment</strong></td>
                                </tr>
                                
                               
                            </tbody>
                        </table>

                        <!--/ table -->
                    </div>

                    <div class="col-md-3 panel valign-top">
                        <!-- panel heading -->
                        <div class="panel-heading text-center pa15">
                            <h4 class="semibold mt0">
                                VVIP<br>
                            </h4>
                        </div>
                        <!-- panel heading -->
                        <!-- panel body -->
                        <div class="panel-body text-center">
                            <h2 class="bold text-muted nm">N200,000</h2>
                        </div>
                        <!--/ panel body -->
                        <!-- table -->
                        <table class="table">
                            <tr>
                                    <td class="text-center"><i class="ico-alarm2 mr5"></i> 24 Hour support</td>
                                </tr>

                                <tr>
                                    <td class="text-center"><i class="ico-user mr5"></i> 2:1 Matrix
                                    Auto Assign</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-money mr5"></i> Pay Out/In Option</td>
                                </tr>
                                <tr>
                                    <td class="text-center"><i class="ico-database mr5"></i> <strong>N400,000 Return Investment</strong></td>
                                </tr>
                                
                               
                            </tbody>
                        </table>

                        <!--/ table -->
                    </div>


                    <!--/ END Panel pricing -->
                </div>
                </div>
        <div class="row m-t-lg">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
                <p>*REGISTER NOW, DONATE, RECIEVE TWO TIMES YOUR DONATION (within 5 mins to 10 days guaranteed).</p>
            </div>
        </div>
    </div>

</section>



<!-- Mainly scripts -->
<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/pace/pace.min.js"></script>
<script src="/static/js/plugins/wow/wow.min.js"></script>


<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

</body>
</html>