<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Primegivers | Login</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">PG</h1>

            </div>
            <h3>Welcome to Primegivers</h3>
            <p>Perfectly designed and precisely prepared to cater for your needs.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            {% for message in messages %} <p style="color:red;">{{ message }} </p> {% endfor %}
            {% load widget_tweaks %}
            <form class="m-t" role="form" action="/login" method="post">
                {% csrf_token %}

                <div class="form-group">
                    {{ user_form.username|add_class:"form-control"|attr:"placeholder:Username" }}
                </div>
                <div class="form-group">
                    {{ user_form.password|add_class:"form-control"|attr:"placeholder:Password"| attr:"type:password" }}
                </div>
                 
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="/password_reset"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/register">Create an account</a>
            </form>
            <p class="m-t"> <small>A trully humanitarian project &copy;{% now 'Y' %}</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
