<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/static/css/animate.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Welcome to IN+</h3>
            <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            <p>Login in. To see it in action.</p>
            {% load widget_tweaks %}
            <form class="m-t" role="form" action="/register">
                {% csrf_token %}

                <div class="form-group">
                    {{ user_form.username|add_class:"form-control"|attr:"placeholder:Username" }}
                    <span style="color:red">{{user_form.username.error}}</span>
                </div>
                <div class="form-group">
                    {{ user_form.email|add_class:"form-control"|attr:"placeholder:Email" }}
                    <span style="color:red">{{user_form.email.error}}</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password"/>
                    {{ user_form.password|add_class:"form-control"|attr:"type:password"|attr:"placeholder:Password" }}
                    <span style="color:red">{{user_form.password.errors}}</span>
                </div>
                 <div class="form-group">
                    {{ profile_form.bank_name|add_class:"form-control"|attr:"placeholder:bank name" }}
                    <span style="color:red">{{profile_form.bank_name.error}}</span>
                </div>
                 <div class="form-group">
                    {{ profile_form.account_name|add_class:"form-control"|attr:"placeholder:account name" }}
                    <span style="color:red">{{profile_form.account_name.error}}</span>
                </div>
                 <div class="form-group">
                    {{ profile_form.account_number|add_class:"form-control"|attr:"placeholder:account number"|attr:"type=text" }}
                    <span style="color:red">{{profile_form.account_number.error}}</span>
                </div>
                 <div class="form-group">
                    {{ profile_form.phone_number|add_class:"form-control"|attr:"placeholder:Phone number"|attr:"type:text" }}
                    <span style="color:red">{{profile_form.phone_number.error}}</span>
                </div>
                 <div class="form-group">
                    {{ profile_form.current_bundle|add_class:"form-control"|attr:"placeholder:Select Bundle" }}
                    <span style="color:red">{{profile_form.current_bundle.error}}</span>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">register</button>

                <a href="#"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="/login">Login</a>
            </form>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/static/js/jquery-2.1.1.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
