 {% extends 'base.html' %}
 {% block content %}
 <div class="wrapper wrapper-content">
            <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">All Time</span>
                            <h5>Donations</h5>
                        </div>
                        <div class="ibox-content">
                            {% load humanize %}
                            <h1 class="no-margins">{{donations | intcomma}}</h1>
                            <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
                            <small>Total donations</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-info pull-right">Available</span>
                            <h5>Packages</h5>
                        </div>
                        <div class="ibox-content">
                                    <h1 class="no-margins">{{ bundles | length }}</h1>
                                    <div class="stat-percent font-bold text-info">100% <i class="fa fa-level-up"></i></div>
                                    <small>Active</small>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-primary pull-right">Current Package</span>
                           
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-md-12">
                            {% if user.profile.current_bundle is not 0 %}
                           <strong style="font-size:x-large;"> <p>
                                Package: {{user.profile.current_bundle}}
                            </p>
                           </strong>
                            {% endif %}

                            {% if not user.profile.current_bundle %}
                            You do not currently belong to a package, select one
                            <form action="/recycle" method="POST">
                            {% csrf_token %}
                            
                            <select name="bundle" class="form-control">
                                <option></option>
                                {% for bun in bundles  %}
                                <option value="{{bun.id}}">{{bun.name}} ({{bun.amount}})</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-w-m btn-info" type="submit">Merge Me</button>
                            </form>
                            {% endif %}
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Welcome</h5>
                            <div class="ibox-tools">
                                <span class="label label-primary">{% now "" %}</span>
                            </div>
                        </div>
                        <div class="ibox-content no-padding">
                            <div class="flot-chart m-t-lg" style="height: 55px;" style="font-size: 26;">
                               Hello, {{user}}, Welcome Back
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-lg-8">
                       <div class="col-lg-12">
                           {% if donate is not None %}
                           
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Transaction Status <small class="m-l-sm danger">OUTGOING</small></h5>
                        <div class="ibox-tools">
                    
                            
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            Sponsor Details<br>
                        </h2>
                        <p>
                            
                            <strong>Name: </strong>
                            {{donate.user}}</p>
                        <p>
                        <p>
                            <strong>Amount: </strong>
                            {{donate.user.profile.current_bundle}} </p>
                        <p>
                        <p>
                            <strong>Bank: </strong>
                            {{donate.user.profile.bank_name}} </p>
                        <p>
                        <p>
                            <strong>Account Name: </strong>
                            {{donate.user.profile.account_name}} </p>
                        <p>
                        <p>
                            <strong>Account Number: </strong>
                            {{donate.user.profile.account_number}} </p>
                         <p>
                            <strong>Phone Number: </strong>
                            {{donate.user.profile.phone_number}} </p>
                        <p>

                            You have just one hour to pay. Your time remains. 
                            <strong id="demo">
                            </strong>
                        </p>
                        <form action="/unreachable" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="paid" value="{{donate_id.donate_id}}">
                            <button class="btn btn-w-m btn-info">Cannot Reach User</button>
                        </form>
                        
                    {% if donate_id.paid is 0 %}
                        <form action="/payment_made" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="paid" value="{{donate_id.donate_id}}">
                            <button class="btn btn-w-m btn-info">Payment Made</button>
                        </form>
                        {% endif %}
                        {% if donate_id.paid is not 0 %}
                         <button class="btn btn-w-m btn-info">Awaiting Sponsors approval</button>
                        {% endif %}
                    
                    </div>
                    <script>
// Set the date we're counting down to
Date.prototype.minusHours= function(h){
    this.setHours(this.getHours()-h);
    return this;
}
var countDownDate = new Date("{{donate_id.updated_at | safe}}").getTime();


// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().minusHours(1).getTime();


  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
                </div>
        {%endif%}


                {% if incoming1 or incoming2 %}
                <div class="ibox float-e-margins">
                    {%if incoming1 and incoming1.confirmed is not 1%}
                    <div class="ibox-title">
                        <h5>Transaction Status <small class="m-l-sm danger">INCOMING1</small></h5>
                        <div class="ibox-tools">
                    
                            
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            You are to be paid by<br>
                        </h2>
                        <p>
                            
                            <strong>Name: </strong>
                            {{incoming1.user}}</p>
                        <p>
                        <p>
                            <strong>Amount: </strong>
                            {{incoming1.user.profile.current_bundle}} </p>
                        <p>
                            <strong>Phone Number: </strong>
                            {{incoming1.user.profile.phone_number}} </p>
                        <p>

                        {% if incoming1.paid is 1  %}
                        <form action="/confirm" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="paid" value="{{incoming1.donate_id}}">
                            <button class="btn btn-w-m btn-info">Confrim Payment</button>
                        </form>
                        {% endif %}
                         {% if incoming1.paid is 0 %}
                        <p>Payment is Pending</p>
                        {% endif %}
                        <form action="/purge_user" method="POST" style="display:none;" id="incoming1">
                        {% csrf_token %}
                        <input type="hidden" name="paid" value="{{incoming1.donate_id}}">
                         <button class="btn btn-w-m btn-info">Purge User</button>
                        </form>
                        <script>
                            Date.prototype.addHours1= function(h){
                                this.setHours(this.getHours()+h);
                                return this;
                            }
                      
                            var start1 = new Date("{{incoming1.updated_at | safe}}").getTime();
                            var now1 = new Date().addHours1(0.5).getTime();
                           
                            if(now1 - start1 >= (30*60) ){
                                document.getElementById("incoming1").style.display="block";
                            }
                        </script>

                        
                    </div>
                    {%endif%}
                    {%if incoming2 and incoming2.confirmed is not 1 %}
                    <div class="ibox-title">
                        <h5>Transaction Status <small class="m-l-sm danger">INCOMING2</small></h5>
                        <div class="ibox-tools">
                    
                            
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                             You are to be paid by<br>
                        </h2>
                        <p>
                            
                            <strong>Name: </strong>
                            {{incoming2.user}}</p>
                        <p>
                        <p>
                            <strong>Amount: </strong>
                            {{incoming2.user.profile.current_bundle}} </p>
                        <p>
                            <strong>Phone Number: </strong>
                            {{incoming2.user.profile.phone_number}} </p>
                        <p>
                             {% if incoming2.paid is 1  %}
                        <form action="/confirm" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="paid" value="{{incoming2.donate_id}}">
                            <button class="btn btn-w-m btn-info">Confrim Payment</button>
                        </form>
                        {% endif %}
                        {% if incoming2.paid is 0 %}
                        <p>Payment is Pending</p>
                        {% endif %}
                        <form action="/purge_user" method="POST"  style="display:none;" id="incoming2">
                        {% csrf_token %}
                        <input type="hidden" name="paid" value="{{incoming2.donate_id}}">
                         <button class="btn btn-w-m btn-info">Purge User</button>
                        </form>
                         <script>
                            Date.prototype.addHours2= function(h){
                                this.setHours(this.getHours()+h);
                                return this;
                            }
                            var start2 = new Date("{{incoming2.updated_at | safe}}").getTime();
                            var now2 = new Date().addHours2(0.5).getTime();
                            if(now2 - start2 >= (30*60) ){
                                document.getElementById("incoming2").style.display="block";
                            }
                        </script>

                    </div>
                    {%endif%}
                </div>
            {% endif %}
            </div>
            <div class="col-lg-12">
            
                {% if last_attempt %}
                    {% if last_attempt.completed_donate is None %}
                        <p>
                            Status: Account is active and waiting to  provide payment
                        </p>
                    {% endif %}
                    {% if last_attempt.incoming1 is None or last_attempt.incoming2 is None %}
                    {% if last_attempt.completed_donate is not None %}
                        <p>
                            Status: Account is active and waiting to be merged
                        </p> 
                    {%endif%}
                    {% endif %}
                {% endif %}
            
            </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-warning pull-right">All activities by user</span>
                                <h5>User activity</h5>
                            </div>
                            
                            {% for log in logs %}
                            
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <small class="stats-label">Date</small>
                                        <h4>{{log.date}}</h4>
                                    </div>

                                    <div class="col-xs-8">
                                        <small class="stats-label">Action</small>
                                        <h4>{{log.action}}</h4>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>

                <div class="row">

                   

                </div>

            </div>

        </div>
        {% endblock %}
