 {% extends 'base.html' %}
 {% block content %}
<div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Profile Detail</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-responsive" src="/static/img/profile_big.jpg">
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>{{user.username}}</strong></h4>
                                <p><i class="fa fa-map-marker"></i> Nigeria {% now "" %}</p>
                                <h5>
                                    About me
                                </h5>
                                <p>
                                   Joining date: {{user.date_joined}}
                                </p>
                                <p>
                                   Phone number: {{user.profile.phone_number}}
                                </p>
                                <p>
                                   Email: {{user.email}}
                                </p>
                                <p>
                                <a href="/password/" style="float: right;">Change Password</a>
                                </p>
                                <div class="row m-t-lg">
                                    <div class="col-md-4">
                                        <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>Bank:</strong> {{user.profile.bank_name}}</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                        <h5><strong>Account Name:</strong> {{user.profile.account_name}}</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                                        <h5><strong>Account Number:</strong> {{user.profile.account_number}}</h5>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Activites</h5>
                        </div>
                        <div class="ibox-content">

                            <div>
                                {% load humanize %}
                                {% for log in users %}
                                <div class="feed-activity-list">

                                    <div class="feed-element">
                                        <a href="#" class="pull-left">
                                            <img alt="image" class="img-circle" src="/static/img/a1.jpg">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">{{log.date | naturalday}}</small>
                                            <strong{{log.user}}</strong> {{log.action}}. <br>
                                            <small class="text-muted">{{log.date}}</small>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                               {% if users.has_other_pages %}
  <center><ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul></center>
{% endif %}

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
{% endblock %}