 {% extends 'base.html' %}
 {% block content %}
 <body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
<form class="m-t" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save changes</button>
</form>
    </div>
 </body>
{% endblock %}